
  .btn {
    background:rgb(225, 169, 63) ;
  }
  
  .center {
    text-align: center;
  }
  .boton {
    border-color: white;
    border-radius: 0.2rem;
  }

  .btn:hover {
    background-color: orange;
  }

  .card{
    display: flex;
    margin: 250px 0px 250px 200px;
   
}

  .img {
    display: flex;
    width: 50vh !important;
    height: 60vh !important;
    margin: 290px 200px 200px 200px !important;
    position: absolute !important;
  }

  .space {
    padding-left: 15vh;
  }
