<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card">
          <div class="card-header">
              RESERVAS DE ESTADIAS DE HOTEL
          </div>
          <div class="card-body">
            <form (submit)="reserva()">
                  <div class="form-group">
                  <input type="text" [(ngModel)]="user.nombre" name="nombre titular" class="form-control" placeholder="nombre titular" required autofocus>
                  </div> <br>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="user.acompanante" name="nombre acompañantes" class="form-control" placeholder="nombre acompañantes" required autofocus>
                    </div> <br>
                  <div class="form-group">
                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                  </div> <br>
                  <div class="form-group">
                  <div class="form-group">
                  <input type="text" [(ngModel)]="user.dias" name="Cantidad de dias" class="form-control" placeholder="Cantidad de dias" required autofocus>
                  </div> <br>
                  <input type="text" [(ngModel)]="user.fecha"  name="fecha de ingreso" class="form-control" placeholder="dia/mes/año" required autofocus>
                  </div> <br>
                  <div class="form-group">
                  <input type="text" [(ngModel)]="user.sugerencias" name="sugerencias" class="form-control" placeholder="sugerencias" required autofocus>
                  </div> <br>
                  <button class="btn btn-primary btn-block">
                      RESERVA
                  </button>
                </form>
          </div>
      </div>
  </div>
</div>
