<div class="menuCard">
    <div class="menuImage">
      <img src="../../assets/fotos/Eat.png" alt="">
    </div>
    <div class="description">
      <div class="labels">
        <h4 class="menuName">Nombre Plato</h4>
        <h4 class="menuPrice">$30.000</h4>
      </div>
      <div class="buttons">
        <button class="infoButton">
          <img src="../../assets/fotos/001-info 1.png" alt="">
        </button>
        <button class="cartButton">
          <img src="../../assets/fotos/001-shopping-cart 1.png" alt="">
        </button>
      </div>
    </div>
  </div>
