<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card">
          <div class="card-header">
              REGISTRO 
          </div>
          <div class="card-body">
              <form (submit)="registro()">
                  <div class="form-group">
                  <input type="text" [(ngModel)]="user.name" name="nombre" class="form-control" placeholder="nombre" required autofocus>
                  </div> <br>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="user.apellido" name="apellido" class="form-control" placeholder="apellido" required autofocus>
                    </div> <br>
                  <div class="form-group">
                      <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                  </div> <br>
                  <div class="form-group">
                  <div class="form-group">
                  <input type="text" [(ngModel)]="user.identificacion" name="id" class="form-control" placeholder="id" required autofocus>
                  </div> <br>
                  <div class="form-group">
                  <input type="text" [(ngModel)]="user.celular" name="telefono" class="form-control" placeholder="celular" required autofocus>
                  </div> <br>
                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                  </div> <br>
                  <button class="btn btn-primary btn-block">
                      SignUp
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>
