.navbar {
   
    background-color:#e1a93f ;

  }
  
.word {
  padding-top: 10vh;
}

.text{ 
  font-size: small;
}

  .btn {
    background:rgb(225, 169, 63) ;
  }
  

  .card{
    color: rgb(225, 169, 63);
      display: flex;
      margin: 100px 0px 0px 0px;
        
  }

  .color{
    color: black;
  }

.subtitulo{
  padding-top: 15vh;
  color: #e1a93f;
}

.padding{
  padding-top: 20vh;
}

.foot{
  padding-top: 35vh;
  padding-bottom: 15vh;
}