<section id="intro">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start word">
                <h1>
                  
                    <div class="display-2">Servicios de hotel desde su celular.</div>
                    <div class="display-5 text-muted text"><p>TRIP FOR ALL es una aplicación que permite controlar 
                        de forma rápida y sencilla todos los servicios ofrecidos por un hotel tales como registro de usuario, 
                        check-in y check-out y servicio de menú a la carta desde la comodidad de su celular.</p></div>
                </h1>
            </div>
           
            <div class="col-md-5 text-center d-none d-md-block">
                <img class="img-fluid" src="./assets/fotos/logo.jpg" alt="logo">
            </div>
        </div>
    </div>
</section>
