<nav class="navbar navbar-expand-lg navbar-light bg-nv">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">TRIP FOR ALL</a>
    </div>
  </nav>

<section class="mt-5">

<div class="container d-flex">
    
      <div class="col justify-content-center caja">
        
        <div class="card text-dark bg-light card border-light shadow-lg p-3 mb-5 bg-body rounded d-flex " style="max-width: 18rem;">
            <div class="card-header bg-light text-center"><h4 class="text">Iniciar Sesión</h4></div>
            <div class="card-body">
              
            </div>
         
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"
                  >Usuario</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="formGroupExampleInput"
                  placeholder=""
                />
              </div>
              <div class="mb-3">
                <label for="inputPassword4" class="form-label">Contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword4"
                  placeholder=""
                />
              </div>
              <div class="d-grid mt-4 mx-auto">
                <button class="btn btn-primary" type="button">Iniciar Sesión</button>
              </div>
        
        </div>
    </div>
    
    </div>
  


</section>



