
  .btn {
    background:rgb(225, 169, 63) ;
  }
  
  .btn:hover {
    background-color: orange;
  }
  
  .center {
    text-align: center;
  }
  .boton {
    border-color: white;
    border-radius: 0.2rem;
  }
  
  
  .card{
      display: flex;
      margin: 280px 80px 250px 120px;
     
  }
  
  .caja {
  
    display: flex;
  }