<section id="pricing" class="bg-light mt-5">
    <div class="container-lg">
    <div class="text-center plans">
    <h2 class="subtitulo">Servicios</h2>
    <p class="lead text-muted">Escoja el plan de su preferencia.</p>
    </div>
    
    <div class="row my-5 align-items-center justify-content-center g-0">
        <div class="col-8 col-lg-4 col-xl-3">
            <div class="card border-0">
                <div class="card-body text-center py-4">
                    <h4 class="card-title">Ingrese a su cuenta</h4>
                    <img class="img-fluid" src="../../assets/fotos/registro.png" alt="servicio">
                    <p class="color">Ingrese a su 
                      cuenta o regístrese en la parte superior de la página.</p>
                        <a href="#" class="btn btn-outline-primary btn-lg mt-3">Ingrese</a>
                </div>
            </div>
        </div>
       
        <div class="col-9 col-lg-4">
            <div class="card border-primary border-2">
               <div class="card-header text-center text-primary"> Más solicitado</div> 
                <div class="card-body text-center py-5">
                    <h4 class="card-title">Restaurante</h4>
                    <img class="img-fluid" src="../../assets/fotos/comida.png" alt="servicio">
                    <p class="card-text mx-5 text-muted d-none d-lg-block">Seleccione el plato que desee 
                      y éste se le será entregado en su habitación.</p>
                        <a href="#" class="btn btn-outline-primary btn-lg mt-3">Ingrese</a>
                </div>
        
            </div>
        </div>
    
        <div class="col-8 col-lg-4 col-xl-3">
            <div class="card border-0">
                <div class="card-body text-center py-4">
                    <h4 class="card-title">Check-in y Check-out</h4>
                    <img class="img-fluid" src="../../assets/fotos/dispositivos.png" alt="servicio">
                    <p class="color"> Haga su reserva (check-in) en cualquiera de sus dispositivos
                      sin necesidad de estar presente. Haga su check-out desde cualquier lugar.</p>
                        <a href="#" class="btn btn-outline-primary btn-lg mt-3">Ingrese</a>
                </div>
            </div>
        </div>
    </div>
    </div> 
    </section>
    
    
    
   




