

  <section>
    <div class="clearfix mt-5 container">
      <img
        src="/assets/fotos/logo.jpg"
        class="col-sm-5 float-sm-end img"
        alt="..."
      />

      <div
        class="card border-light shadow-lg p-3 mb-5 bg-body rounded d-flex"
        style="max-width: 25rem"
      >
        <div class="card-header text-center bg-light"> <h4 class="text">Registrar Usuario</h4>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Nombre de Usuario</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Correo Electrónico</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Nombres</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"
              >Apellidos</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput2"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Documento de Identidad</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
            />
          </div>
          
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label"
              >Teléfono</label
            >
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="inputPassword4" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword4"
              placeholder=""
            />
          </div>
          <div class="mb-3">
            <label for="inputPassword4" class="form-label"
              >Confirmar Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="inputPassword4"
              placeholder=""
            />

            <div class="d-grid mt-5 col-4 mx-auto">
              <button class="btn btn-primary" type="button">Guardar</button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

